body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Header */
.header {
    width: 100%;
}

.ul {
    list-style: none;
}


/* Page Acceuil */
.Barre {
    background-color: red;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.BoutonMenu{
    width: 24rem;
    height: 10rem;
    margin: 1rem;
}

.DivMatch{
    background-color: blue;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.TitreMatch {
    width: 100%;
}

.DivEquipe {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.LogoEquipe {
    width: 5rem;
    padding: 3px;
    border: solid 1px black;
}

.TitreEquipe {
    width: 80%;
}

.DivImage {
    width: 20%;
}

/* Page Consultation */

.TitrePageConsultation {
    width: 100%;
}

/* Formulaire Général */

.Formulaire {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}

.LigneFormulaire {
    width: 100%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    align-items: center;
}

.Libelle {
    width: 49%;
}

.CaseEntree {
    width: 49%;
}

.DivBoutonFormulaire {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-evenly;
}


.BoutonFormulaire {
    width: 15%;
}

/* Page de selection */

.Cadre {
    border: solid blue;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.DivPhotoJoueur {
    width: 100%;
}

.NomPrenom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ImageJoueur {
    max-height: 150px;
    max-width: 150px;
}

/* Page Login */
.LoginFormulaire {
    border: solid blue 2px;
    margin: 5px;
}

.Corps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}