body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Page Acceuil */
.Barre {
    background-color: red;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.BoutonMenu{
    width: 24rem;
    height: 10rem;
    margin: 1rem;
}

.DivMatch{
    background-color: blue;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.TitreMatch {
    width: 100%;
}

.DivEquipe {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.LogoEquipe {
    width: 5rem;
    padding: 3px;
    border: solid 1px black;
}

.TitreEquipe {
    width: 80%;
}

.DivImage {
    width: 20%;
}

/* Page Consultation */

.TitrePageConsultation {
    width: 100%;
}

/* Formulaire Général */

.Formulaire {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}

.LigneFormulaire {
    width: 100%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    align-items: center;
}

.Libelle {
    width: 49%;
}

.CaseEntree {
    width: 49%;
}

.DivBoutonFormulaire {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-evenly;
}


.BoutonFormulaire {
    width: 25%;
}

/* Page de selection */

.Cadre {
    border: solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Ligne1 {
    background-color: red;
    width: 100%;
}

.NomPrenom {
    background-color : cyan;
    width: 59%;
}

.PhotoJoueur {
    width: 40%;
    background-color: aquamarine;
}